<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Por Hacer!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-list color="primary">
    <ion-item *ngFor="let act of _actividadesService.listas" detail color="primary" (click)= "agregarItemsLista(act.id)">
      <ion-label>{{ act.titulo }}</ion-label>
      <ion-note slot="end" color="secondary">{{ act.items.length }} items</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="promptNuevaLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
